* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(./assets/images/background-pattern-desktop.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-acc-container {
    width: 100px;
    background-color: white;
    width: 50%;
    height: 50%;
    padding: 3%;
    border-radius: 10px;
    min-height: 285px;
}

button {
    text-decoration: none;
    background-color: white;
    border: 0;
}

.faq-ques {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.faq-ques p {
    font-weight: bold;
}

.faq-ans p {
    font-weight: 100;
}

.faq-acc-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.faq-acc-card-header img {
    margin-right: 20px;
}